<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>StudentsServlet</servlet-name>
        <servlet-class>servlets.StudentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentsServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>servlets.CoursesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentsInCoursesServlet</servlet-name>
        <servlet-class>servlets.StudentsInCoursesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentsInCoursesServlet</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
</web-app>
